*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;


}
body
{
  background-image: url(Website.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  font-family: sans-serif;
}
.menu-bar
{
background: rgb(61, 42, 165);
text-align: center;
}
.menu-bar ul
{
  display: inline-flex;
  list-style: none;
  color: white;
}
.menu-bar ul li
{
  width: 120px;
  margin: 15px;
  padding: 15px;
}
.menu-bar ul li a
{
text-decoration: none;
color: white;
}
.active, .menu-bar ul li:hover
{
  background-color: burlywood;
  border-radius: 3px;
}
.about-menu
{
  display: none;
}
.menu-bar ul li:hover .about-menu
{
  display: block;
  position: absolute;
  background: burlywood;
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .about-menu ul
{
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .about-menu ul li
{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted white;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.menu-bar ul li:hover .about-menu ul li:last-child
{
  border-bottom: none;
}
.menu-bar ul li:hover .about-menu ul li a:hover
{
 color: brown;
 
}
.core:hover
{
  color: brown;
  border: burlywood;
}
.logo
{
  text-align: center;
  color: black;
}
.copy
{
 color:whitesmoke;
 margin-right: 30px;
}
.ji
{

  color: white;
  background-color: brown;
}
.ji a{
  color: white;
}
.gallery a
{
  text-align: center;
  background-color: brown;
  color: white;
  margin-right: 30px;
}
.jr{
  width: 300px;
  height: 200px;
}
